<div class="container">
	<table class="table">
		<tr>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
			<td>
				<div class="card hover-faculty" style="width: 18rem;">
				  <img class="card-img-top" src="includes/img/placeholder.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Faculty Name Here </h5>
				    <p class="card-text">Professor info</p>
				  </div>
				</div>
			</td>
		</tr>
	</table>
</div>
<app-footer></app-footer>