<div class="main-container"  style="background-image: url('includes/img/wallpaper_1.jpg');">
	<div class="container" style="background-color: white; height: 100% !important;">
		<table class="table">
			<tr>
				<td *ngFor="let faculty of faculty">
					<div class="card hover-faculty" style="width: 18rem;">
					  <img height="400" class="card-img-top" src="{{faculty.img}}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">{{faculty.name}}</h5>
					    <ul style="list-style: none;">
					    	<li>Title: {{faculty.title}}</li>
					    	<li>Email: {{faculty.email}}</li>
					    	<li>Info: {{faculty.info}}</li>
					    </ul>
					  </div>
					</div>
				</td>
			</tr>
			<tr>
				<td *ngFor="let faculty of faculty2">
					<div class="card hover-faculty" style="width: 18rem;">
					  <img height="400" class="card-img-top" src="{{faculty.img}}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">{{faculty.name}}</h5>
					    <ul style="list-style: none;">
					    	<li>Title: {{faculty.title}}</li>
					    	<li>Email: {{faculty.email}}</li>
					    	<li>Info: {{faculty.info}}</li>
					    </ul>
					  </div>
					</div>
				</td>
			</tr>
		</table>
	</div>
<app-footer class="footer"></app-footer>
</div>