<div class="container">
	<div class="row">
		<div class="col-md-2">
			<table class="table table-hover table-bordered">
				<tr><td style="padding: 50px 14px 50px 50px !important;">Awards</td></tr>
				<tr><td style="padding: 50px 14px 50px 50px !important;">Internships</td></tr>
				<tr><td style="padding: 50px 14px 50px 50px !important;">Competitions</td></tr>
				<tr><td style="padding: 50px 14px 50px 50px !important;">Accomplishments</td></tr>
				<tr><td style="padding: 50px 14px 50px 50px !important;">Clubs</td></tr>
			</table>
		</div>
		<div class="col-md-8"  style="margin-left: 1px;">
			<img width="100%" height="500px;" src="includes/img/placeholder.png">
			<div class="form-border"></div>
			<h3>Header</h3>
			<p>lorem ipsum....</p>
		</div>
	</div>
</div>
<app-footer></app-footer>