<div class="main-container"  style="background-image: url('includes/img/wallpaper_1.jpg');">
<div class="container" style="background-color: white; height: 100% !important;">
	<app-carousel width="100%"></app-carousel>
	<div class="form-border"></div>
	<div height="200" style="text-align: center;">
		<div class="row">
			<div class="col-md-4">
				<h2 style="font-family: Georgia; font-size: 45px;">100%</h2>
				<div class="form-border-light"></div>
				<h6>Success Rate</h6>
				<p>The percent of our graduates who are either working or in a secondary education program six months after graduation. (2016 Graduates from Quinnipiac Survey)</p>
			</div>
			<div class="col-md-4">
				<h2 style="font-family: Georgia; font-size: 45px;">+24%</h2>
				<div class="form-border-light"></div>
				<h6>In Demand</h6>
				<p>Employment of software developers is projected to grow 24 percent from 2016 to 2026. (Bureau of Labor Statistics, 2017)</p>
			</div>
			<div class="col-md-4">
				<h2 style="font-family: Georgia; font-size: 45px;">$102K</h2>
				<div class="form-border-light"></div>
				<h6>Well Placed</h6>
				<p>The median annual wage for software developers was $102,280 in May 2016. (Bureau of Labor Statistics, 2017)</p>
			</div>
		</div>
	</div>
	<div class="form-border"></div>
	<div style="text-align: center;">
		<h1>Program Overview</h1>
		<p style="">From operating systems and Internet browsers to gaming software and smartphone apps, software engineers construct and maintain the digital landscape in which we work and play. You’ll master such skills as coding, system design, quality assurance and testing, and we’ll teach you to manage projects and think creatively to prepare for a career as a programmer or software developer for a host of diverse companies and industries. </p>
	</div>
</div>
<app-footer class="footer"></app-footer>
</div>