<div class="main-container"  style="background-image: url('includes/img/wallpaper_1.jpg');">
  <div class="container" style="background-color: white; height: 100% !important;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a [ngClass]="[year == 1? 'active' : '']" class="nav-link" (click)="showYear(1)">Freshmen Year</a>
    </li>
    <li class="nav-item">
      <a [ngClass]="[year == 2? 'active' : '']" class="nav-link" (click)="showYear(2)">Sophomore Year</a>
    </li>
    <li class="nav-item">
      <a [ngClass]="[year == 3? 'active' : '']" class="nav-link" (click)="showYear(3)">Junior Year</a>
    </li>
    <li class="nav-item">
      <a [ngClass]="[year == 4? 'active' : '']" class="nav-link" (click)="showYear(4)">Senior Year</a>
    </li>
  </ul>
  </div>
  <div class="container" style="background-color: white; height: 100% !important;">
    <div class="row">
      <div class="col-md-2">
        <table class="table table-bordered table-hover col-md-2">
          <tbody *ngFor="let class of classes ">
            <tr class="hover" (click)="showInfo(class)"><td style="padding-right: 120px !important;">{{class}}</td></tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <div>
          <h2>{{classSelected.name}}</h2>
          <img height="500" width="100%" src="{{classSelected.img}}">          
          <div style="background-color: #E3E3E3;border: 1px solid black">
            <p>{{classSelected.info}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>